<div class="container">
<h2>DASHBOARD ADMINISTRADOR</h2>
<hr>
<a href="/usuario">Usuários</a> |
<a href="/veiculo">Veiculos</a> |
<a href="/destino">Destinos</a> |
<a href="/translado">Translados</a> |
<a href="/">Sair</a> 


<div class="login">
<h4>Cadastrar</h4>
<hr>
    <a href="/usuario/adicionar" class="btn btn-info m-1">Cadastrar Usuario</a>
    <a href="/veiculo/adicionar" class="btn btn-info m-1">Cadastrar Veiculo</a>
    <a href="/destino/adicionar" class="btn btn-info m-1">Cadastrar Destino</a>
    {{!-- <a href="/translado/adicionar" class="btn btn-info m-1">Cadastrar Translado</a> --}}
    <hr>
</div>
</div>