<div class="container">
<h2>DASHBOARD ALUNO </h2>
<hr>
<a href="/">Sair</a>
<div class="login">
    
<h4>Solicitar Translado</h4>
<hr>
    <a href="/translado/adicionar" class="btn btn-info">Solicitar</a>
    <hr>
</div>
</div>