body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   width: 100vw;

}


main{
    display: flex; 
    flex-direction: column;
   
   
}
.brand{
    display: flex;
    padding: 1%;
    color: rgb(0, 0, 0);
}
.img-logo{
    align-items: center;
    width: 5%;
}
.linha{
    border: 2px solid #0f0f0f;
    display: flex;
    width: 100%;
}
.linha2{
    border: 1px solid #a0a0a0;
    display: flex;
    width: 100%;
}
.login{     
    margin: 8em auto;
    padding: 50px;
    border: 1px solid #c2c2c2;
    border-radius: 2%;
    box-shadow: 5px 10px 5px #ccc;
}
footer{
   
    margin-top: 20px;
    text-align: center;
  
}
footer h2{
    font-size: 1.5rem;
    
}
.rodape{
    padding: 20px;
    text-align: center;
    max-height: 100vh;
}

.dados{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}

.usuarios{  
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 15px;
    margin: 10px;
    min-width: 25rem;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #ccc;
    
}


.usuarios ul{       
    margin-top: 15px;
    margin-left: 25px;
    
    
}
.usuarios ul li{   
    list-style: none;  
  
}
.action{
    display: flex;
    justify-content: center;
    align-items: center;

}
.action form{
   margin-right: 0.5em;
   margin-top: 15px;
}

