body{
    height: 100vh;

}


main{
    display: flex; 
    flex-direction: column;
   
}
.linha{
    border: 2px solid #0f0f0f;
    display: flex;
    width: 100%;
}
.login{     
    margin: 8em auto;
    padding: 50px;
    border: 1px solid #c2c2c2;
    border-radius: 2%;
    box-shadow: 5px 10px 5px #ccc;
}
footer{
   
    margin-top: 20px;
    text-align: center;
  
}
footer h2{
    font-size: 1.5rem;
    
}
.rodape{
    padding: 20px;
    text-align: center;
    max-height: 100vh;
}

.dados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.usuarios{  
    display: flex;   
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding: 2%;
    width: 18em;
    /* height: 18em; */
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px;
    margin: 5px;
    box-shadow: 5px 5px 10px #ccc;
    
}


.usuarios ul{
       
    margin-top: 15px;
    
    
}
.usuarios ul li{   
    list-style: none;  
  
}
.action{
    display: flex;
}
.action form{
   margin-top: 15px;
    margin-left: 20px;
}

