<header>
      <div class="container-fluid">
        <nav class="navbar-expand-lg bg-warning text-dark">
          <div class="brand">
           <img src="/images/van.svg" alt="imagem de uma van em cor preto" class="img-logo">
          <h1 class="p-2 ml-2">Transfer Control</h1>
          </div>
        </nav>
      </div>
</header>
<main>